@model IEnumerable<news_FE.Models.Topic>
@{
    ViewBag.Title = "Trash";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="card card-title bg-white p-1">
    <div class="row">
        <div class="col-md-6 "> <h5 class="pl-2 mt-2 text-blues">Thùng rác chủ đề bài viết</h5> </div>
        <div class="col-md-6 m-0">
            <ol class="breadcrumb bg-white float-sm-right m-0">
                <li class="breadcrumb-item m-0"><a href="~/Bdmin">Home</a></li>
                <li class="breadcrumb-item active m-0">Thùng rác chủ đề bài viết</li>
            </ol>
        </div>
    </div>
</div>

<section class=" ">
    <div class=" bg-white card p-3 ">

        <div class="row">
            <div class="col-md-9  w-100 ">
                @Html.Partial("_MessgeAlert")
            </div>
            <div class="col-md float-right">
                <div class=" pt-1 float-right">
                    <a title="Thoát" data-toggle="tooltip" data-placement="top"  class="text-white btn-sm btn-danger " href="~/Admin/Topics">Thoát </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9  w-100 ">
               
            </div>
            <div class="col-md-12 p-3">

                <table class="table px-3 table-striped table-bordered dt-responsive nowrap">
                    <thead>
                        <tr>
                            <th>Tên chủ đề</th>
                            <th>Link</th>
                            <th>Ngày Tạo</th>
                            <th>Trạng thái</th>
                            <th>Chức Năng</th>
                            <th>ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>

                            <td><a class=" font-weight-bold card-link " href=""> @Html.DisplayFor(modelItem => item.Name)</a></td>
                            <td> @Html.DisplayFor(modelItem => item.Slug)</td>
                            <td style="font-size:14px;">@item.Created_at.ToString("dd-MM-yyyy hh:mm:ss ")</td>
                            <th width="20%"><span class="badge badge-danger"> Đã xóa</span> </th>
                            <td>
                                <a title="Khôi phục" data-toggle="tooltip" data-placement="top" class="btn btn-sm btn-light text-primary border " href="@Url.Action("Retrash", "Topics", new { id = item.Id })"> <i class="fas fa-undo"></i></a>
                                <a title="Xóa vĩnh viễn " data-toggle="tooltip" data-placement="top" class="btn btn-sm btn-light text-danger border" href="@Url.Action("Delete", "Topics", new { id = item.Id })">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </td>
                            <td class="text-cam ">@Html.DisplayFor(modelItem => item.Id)</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<script>
    $("#topic").addClass("active");

</script>
